.header {
grid-area: h;
background-color: #04645b;
}

.header img {
width: 40px;
border-radius: 50%;
margin-left: 50px;
margin-top: 10px;
}

.loginBlock {
    float: right;
    margin-right: 50px;
    padding: 20px;
}

.loginBlock a {
    color: white;
    text-decoration: none;
}


@media (max-width: 850px) {
    .header img {
        width: 38px;
    }
}
/* 
@media (max-width: 800px) {
    .header img {
        width: 36px;
    }
}

@media (max-width: 750px) {
    .header img {
        width: 34px;
    }
}

@media (max-width: 700px) {
    .header img {
        width: 32px;
    }
}

@media (max-width: 650px) {
    .header img {
        width: 30px;
    }
}

@media (max-width: 600px) {
    .header img {
        width: 28px;
    }
}

@media (max-width: 550px) {
    .header img {
        width: 26px;
    }
} */